<div class="container">
    <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
          	<h2>MLitB</h2>
            <h3>Machine Learning in the Browser</h3>
            <p>Welcome to the Machine Learning in the Browser.</p>
            <p>You can find us at <a href="https://github.com/software-engineering-amsterdam/MLitB/" target="_blank">https://github.com/software-engineering-amsterdam/MLitB/</a></p>

            <div class="row">
              <div class="col-xs-6">
                <h5>Active neural networks</h5>
                <div ng-hide="nns.length">
                  None.
                </div>

                <table ng-show="nns.length" class="table table-condensed table-hover">
                  <tr ng-repeat="nn in nns" ng-click="nn_public(nn.id);">
                    <td>{{ nn.name }}</td>
                  </tr>
                </table>

              </div>
              <div class="col-xs-6">
                <h5>Control panel</h5>
                <p><i><small>Desktop only, please use responsibly.</small></i></p>
                <p><a href="#/home" type="button" class="btn btn-default">Control Panel</a></p>
              </div>

            </div>

          </div>
        </div>
    </div>
</div>