doctype
html
  head
    title Round Trip test
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='/js/jquery.js')
    script(src='/js/lz-string-1.3.3-min.js')
  body
    h3 Round Trip Test
    pre#log
    script(src='/js/client.js')