doctype
html
  head
    title Round Trip test
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='/socket.io/socket.io.js')
  body
    h3 Round Trip Test
    pre#log
    script(src='/js/client.js')