    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <h3>Network stats</h3>

                <div class="row">
                    <div class="col-xs-4">
                        <span class="btn btn-default btn-file btn-xs"><input id="files_stats" name="files" type="file"><span class="glyphicon glyphicon-cloud-upload"></span> Load test data</button></span>
                    </div>
                    <div class="col-xs-4">
                        <span class="btn btn-default btn-file btn-xs"><input name="download_parameters" type="button" ng-click="download_parameters()"><span class="glyphicon glyphicon-download-alt"></span> Download parameters</button></span>
                        <img ng-show="download_parameters_spinner" src="ajax-loader.gif" />
                    </div>
                </div>

                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Step</th>
                            <th>Error</th>
                            <th>Delta</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <span class="error" id="step"></span>
                            </td>
                            <td><span id="error"></span></td>
                            <td><span id="delta"></span></td>
                        </tr>
                    </tbody>
                </table>

                <div id="chartcontainer"> </div>

            </div>

        </div>
    </div>