.sortable {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.trash {
	float: right;
	margin-right: 5px;
	margin-top: 1px;
}

.sortable-item, .sortable-placeholder {
    display: block;
    min-height: 20px;
    margin: 1px 2px 5px 1px;
    border-radius: 3px;
    padding: 3px;
}

.sortable-item {
    border: solid 1px darkgrey;
    background-color: #ffffff;
}

.sortable-handle {
    cursor: move;
    display: inline;
	float: right;
}

.sortable-placeholder {
    border: 1px dashed darkgrey;
    box-sizing: border-box;
    background-color: #dbdbdb;
}

.sortable-drag {
    position: absolute;
    pointer-events: none;
    opacity: .8;
    z-index: 9999;
}

.sortable-hidden {
    display: none !important;
}