#download, #upload {
	display: none;
}

#processinglegend {
	font-weight: 800;
	color: rgb(49, 130, 189);
}

#restlegend {
	font-weight: 800;
	color: rgb(107, 174, 214);
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.navbar-header {
    height: 50px;
}

.navbar-nav {
    margin: inherit;
}

@media (max-width: 500px) {

	table {
		font-size: 11px;
	}

    .navbar-brand {
        font-size: 14px;
    }

    .navtext {
        display: none;
    }

}