body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
body .navbar {
  margin-bottom: 20px;
}
body .sortable-icons {
  float: right;
}
body .sortable li {
  padding: 3px;
  border: black solid 1px;
  list-style-type: none;
}
body .train-layer {
  float: right;
}
body .btn-file {
  position: relative;
  overflow: hidden;
}
body .btn-file input {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
