doctype
html
  head
    title P-MCMC
    script(src='/socket.io/socket.io.js')
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="/css/app.css")
  body
    div.container
        div.row
            div.col-md-6
                h1 P-MCMC
                p Press connect to connect.
                p 
                    input#start(type="button" value="connect")
                p 
                    input#runjob(type="button" value="run sample embedded job")
                p Upload file:                    
                input#files(type="file" name="files")
                span#download 0%
                h4 Metrics:
                p 
                    span#isec 0
                    span  iterations / sec
                p 
                    span#vsec 0
                    span  vectors / 1000 iterations / sec
                p
                    span#wtime 0
                    span  MS working time
            div.col-md-6
                h3 Data
                p#processinglegend Processing: 
                    span#working 0  
                    span  vectors
                p#restlegend Spare: 
                    span#spare 0  
                    span  vectors
                p#totalVectors Total: 
                    span#total 0  
                    span  vectors                    
                div#datachart

    script(src='/js/jquery.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='//mbostock.github.com/d3/d3.js')
    script(src='/js/client.js')