doctype
html
  head
    title P-MCMC
    script(src='/socket.io/socket.io.js')
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="/css/app.css")
  body
    div.container
        div.row
            div.col-md-6
                h1 P-MCMC
                p Press connect to connect.
                p 
                    input#start(type="button" value="connect")
                p 
                    input#addworker(type="button" value="add a worker")
                p 
                    input#runjob(type="button" value="run sample embedded job")
                p Upload file:                    
                input#files(type="file" name="files")
                span#download 0%
            div.col-md-6
                h4 Workers in operation: 
                    span#nrworkers 0
                table.table.table-condensed
                    thead
                        tr
                            th ID
                            th Vectors/sec
                            th &Delta;
                            th Iterations/sec
                            th &Delta;
                    tbody#performance
                    thead
                        tr 
                            th
                            th.vsecaverage
                            th
                            th.isecaverage
                            th
                h4 Log
                pre.log

    script(src='/js/jquery.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='//mbostock.github.com/d3/d3.js')
    script(src='/js/client.js')