#download, #upload {
	display: none;
}

#processinglegend {
	font-weight: 800;
	color: rgb(49, 130, 189);
}

#restlegend {
	font-weight: 800;
	color: rgb(107, 174, 214);
}

@media (max-width: 500px) {

	table {
		font-size: 11px;
	}

}